cairocffi
CairoSVG
cffi
cssselect2
defusedxml
docopt
et-xmlfile
html5lib
jdcal
Jinja2
MarkupSafe
num2words
numpy
openpyxl
pandas
pdf417
Pillow
pycparser
Pyphen
python-dateutil
pytz
six
tinycss2
WeasyPrint
webencodings